<section class="container">

<!-- HEADER FOR TITLE AND TOGGLE NAV -->
	<header>
		<h1>Taste Book</h1>

		<nav>
			<%= link_to "List"%>
			<%= link_to "Maps"%>
		</nav>
	</header>

<!-- WRAP THE MAIN CONTENT AREA -->
	<article>
<!-- COLUMN 1 -->
		<ul class="span3">
			<li>
				*This is Column1 Row1 Taste Book Card
			</li>
			<li>
				*This is Column1 Row2 Taste Book Card
			</li>
			<li>
				*This is Column1 Row3 Taste Book Card
			</li>
		</ul>
<!-- COLUMN 2 -->
		<ul class="span3">
			<li>
				*This is Column2 Row1 Taste Book Card
			</li>
			<li>
				*This is Column2 Row2 Taste Book Card
			</li>
			<li>
				*This is Column2 Row2 Taste Book Card
			</li>
		</ul>
<!-- COLUMN 3 -->
		<ul class="span3">
			<li>
				*This is Column3 Row1 Taste Book Card
			</li>
			<li>
				*This is Column3 Row2 Taste Book Card
			</li>
			<li>
				*This is Column3 Row3 Taste Book Card
			</li>
		</ul>
	</article>

<!-- FOOTER TO WRAP PAGINATION NAV -->
	<footer>
		<nav>
			<ul>
				<li><%= link_to "page2" %></li>
				<li><%= link_to "page3" %></li>
				<li><%= link_to "page4" %></li>
				<li><%= link_to "page5" %></li>
				<li><%= link_to "page6" %></li>
			</ul>
		</nav>
	</footer>

</section>