<section class="container">

<!-- HEADER FOR TITLE AND TOGGLE NAV -->
	<header>
		<h1 class="row">Taste Book</h1>

		<nav class="row">
			<%= link_to "List", class: "" %>
			<%= link_to "Maps" %>
		</nav>
	</header>

<!-- WRAP THE MAIN CONTENT AREA -->
	<article class="row">
<!-- COLUMN 1 -->
		<ul class="span3">
			<li class="row">
				*This is Column1 Row1 Taste Book Card
			</li>
			<li class="row">
				*This is Column1 Row2 Taste Book Card
			</li>
			<li class="row">
				*This is Column1 Row3 Taste Book Card
			</li>
		</ul>
<!-- COLUMN 2 -->
		<ul class="span3">
			<li class="row">
				*This is Column2 Row1 Taste Book Card
			</li>
			<li class="row">
				*This is Column2 Row2 Taste Book Card
			</li>
			<li class="row">
				*This is Column2 Row2 Taste Book Card
			</li>
		</ul>
<!-- COLUMN 3 -->
		<ul class="span3">
			<li class="row">
				*This is Column3 Row1 Taste Book Card
			</li>
			<li class="row">
				*This is Column3 Row2 Taste Book Card
			</li>
			<li class="row">
				*This is Column3 Row3 Taste Book Card
			</li>
		</ul>
	</article>

<!-- FOOTER TO WRAP PAGINATION NAV -->
	<footer class="row">
		<nav>
			<ul>
				<li class="span"><%= link_to "page2" %></li>
				<li class="span"><%= link_to "page2" %></li>
				<li class="span"><%= link_to "page2" %></li>
				<li class="span"><%= link_to "page2" %></li>
				<li class="span"><%= link_to "page2" %></li>
			</ul>
		</nav>
	</footer>

</section>