<section class="container">

<!-- HEADER FOR TITLE AND TOGGLE NAV -->
	<header class="row">
		<h1>Taste Book</h1>
		<%= link_to "New Tastes", {}, class: "btn btn-inverse" %>
	</header>

<!-- WRAP THE MAIN CONTENT AREA -->
	<article class="row">
<!-- COLUMN 1 -->
		<ul class="span3">
			<li>
				<%= render :partial => "card" %>
			</li>
			<li>
				<%= render :partial => "card" %>
			</li>
			<li>
				<%= render :partial => "card" %>
			</li>
		</ul>
<!-- COLUMN 2 -->
		<ul class="span3">
			<li>
				<%= render :partial => "card" %>
			</li>
			<li>
				<%= render :partial => "card" %>
			</li>
			<li>
				<%= render :partial => "card" %>
			</li>
		</ul>
<!-- COLUMN 3 -->
		<ul class="span3">
			<li>
				<%= render :partial => "card" %>
			</li>
			<li>
				<%= render :partial => "card" %>
			</li>
			<li>
				<%= render :partial => "card" %>
			</li>
		</ul>
	</article>

<!-- FOOTER TO WRAP PAGINATION NAV -->
	<footer class="row">
		<nav>
			<ul>
				<li><%= link_to "page2" %></li>
				<li><%= link_to "page3" %></li>
				<li><%= link_to "page4" %></li>
				<li><%= link_to "page5" %></li>
				<li><%= link_to "page6" %></li>
			</ul>
		</nav>
	</footer>

</section>