<section class="container">

<!-- HEADER FOR TITLE AND TOGGLE NAV -->
	<header class="row">
		<h1>Taste Book</h1>
		<%= link_to "Show Tastes", {}, class: "btn btn-inverse", id: "new-tastes" %>
	</header>

<!-- WRAP THE MAIN CONTENT AREA -->
	<article class="row">
<!-- COLUMN 1 -->
		<ul id="taste-list">
			
		</ul>
	</article>

<!-- FOOTER TO WRAP PAGINATION NAV -->
	<footer class="row">
		<nav>
			<ul>
				<li><%= link_to "page2" %></li>
				<li><%= link_to "page3" %></li>
				<li><%= link_to "page4" %></li>
				<li><%= link_to "page5" %></li>
				<li><%= link_to "page6" %></li>
			</ul>
		</nav>
	</footer>

</section>